$header-img: url('../img/m-h-day.jpg') no-repeat;

$title-font: 'Source Sans Pro', sans-serif;
$main-font: 'Hind', sans-serif;

$body: #fff;

$cover-bg: #0ca1c8;
$card-bg: #21232e;

$button: #699a00;

$title-card: #fff;

$header-text: #2c2f3c;
$card-text: #c0c3ce;

$gradient: linear-gradient(45deg, #689900, #2a5bd6);

