$header-img: url('../img/m-h-night.jpg') no-repeat;

$title-font: 'Source Sans Pro', sans-serif;
$main-font: 'Fresca', sans-serif;

$body: #21232e;

$cover-bg: #ff4e33;
$card-bg: #3b3f50;

$button: #e3ac00;

$title-card: #fff;

$header-text: #fff;
$card-text: #c0c3ce;

$gradient: linear-gradient(45deg, #dda306, #963250);